@charset "utf-8";

@font-face {
    font-family: IRANSans_Num;
    src: url("number/ttf/Num.ttf") format("truetype"),
        url("number/eot/Num.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("web/eot/IRANSansWeb.eot");
    src: url("web/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("web/woff2/IRANSansWeb.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("web/woff/IRANSansWeb.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("web/ttf/IRANSansWeb.ttf")
            format("truetype");
}

* {
    font-family: IRANSans_Num, IRANSans;
}
input,
button,
label,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: IRANSans_Num, IRANSans !important ;
}
