.categoreisPage {
    padding: 60px 6%;
    margin: -30% 0 50px 0;
}

.categoreisPage p.guid {
    margin: 0;
    color: #fff;
}

.categoreisPage p.guid a {
    color: #aaa;
}

.categoreisPage p.guid span {
}

.content-area{
    background: #f8f9fb;
    padding: 20px;
    border-radius: 15px;
}


.sidebar-categories_menu ul li > ul li,
.sidebar-categories_menu ul li > a > i,
input[type="checkbox"],
input[type="radio"] {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.filterSection [class*="col-"] {
    float: right;
}

.categoreisPage .sidebar {
    border-radius: 10px;
    padding: 1%;
    background-color: #f8f9fb;
}

.categoreisPage .sidebar .sidebarItem {
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 5%;
    border-radius: 10px;
}

.categoreisPage .sidebar .sidebarItem .title h5 {
    padding: 20px 0;
    margin: 0;
    font-size: 15px;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul {
    padding: 15px 0px;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li {
    cursor: pointer;
    list-style: none;
    margin-right: 7%;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li:last-child > a {
    /* padding-bottom: 0; */
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li.has-sub ul > li:first-child {
    padding-top: 0;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li:hover > a {
    color: #fed100;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li:hover > a > i {
    color: #fed100;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li > ul {
    display: none;
    padding: 0px;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li > ul li a {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 15px;
    color: #999999;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li > ul li:last-child > a {
    padding-bottom: 25px;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li > a {
    display: block;
    padding-bottom: 20px;
    position: relative;
    line-height: 1;
    color: #383737;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li > a > i {
    font-size: 15px;
    position: absolute;
    right: -13px;
    top: 1px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    color: #999999;
}

.nice-select {
    width: auto;
    height: 35px;
    line-height: 31px;
}

.nice-select .list {
    width: 100%;
}

.categoreisPage .sidebar .sidebarItem .sidebar-categories_menu ul li.open > a > i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media (max-width: 991px) {
    .categoreisPage .sidebar {
        /* padding-top: 60px; */
    }
}

a,
button,
.price-filter .ui-slider-handle,
.price-filter .price-slider-amount .label-input .filter-btn {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.price-filter,
.accordion-panel-section {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.accordion-active + .price-filter {
    padding: 6px 0 !important;
}

.price-filter .ui-widget-content {
    background-color: #ebebeb;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    height: 5px;
    margin: 0 0 25px;
    width: 100%;
    border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
}

.price-filter .ui-slider-range {
    background: #e52a1fb5;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
}

.price-filter .ui-slider-handle {
    background: #ffffff;
    border: 4px solid #e52a1fb5;
    display: block;
    outline: none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: 0;
    text-align: center;
    top: 50%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 6.65px 0.35px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6.65px 0.35px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: e-resize;
}

.price-filter .ui-slider-handle:hover {
    background-color: #e52a1fb5;
}

.price-filter .ui-slider-handle:last-child {
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.price-filter .price-slider-amount {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.price-filter .price-slider-amount span {
    float: right;
    margin: 0 2%;
}

.price-filter .price-slider-amount .label-input {
    width: 100%;
}

.price-filter .price-slider-amount .label-input label {
    color: #222;
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}

.price-filter .price-slider-amount .label-input input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #222;
    font-size: 13px;
    height: inherit;
    padding-left: 5px;
    width: 46%;
    background: #f1f1f1;
    float: right;
    text-align: center;
    border-radius: 2px;
}

.price-filter .price-slider-amount .label-input .filter-btn {
    border: 1px solid #ebebeb;
    color: #999999;
    width: 85px;
    height: 40px;
    line-height: 39px;
    border-radius: 50px;
}

.price-filter .price-slider-amount .label-input .filter-btn:hover {
    background-color: #fed100;
    border-color: #fed100;
    color: #ffffff;
}

.accordion-label-section {
    background-color: #fffdfd;
    color: #444;
    cursor: pointer;
    /* padding: 15px 0px; */
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* .accordion-active, .accordion-label-section:hover {
     background-color: #efefef7a;
   } */

.accordion-label-section:after {
    content: "\f104";
    font-weight: 100;
    float: left;
    margin-left: 3%;
    font-size: 16px;
    color: #212121;
    margin-top: -15%;
    position: relative;
    font-family: FontAwesome, FontAwesome5;
    top: -6px;
}

.accordion-active:after {
    content: "\f107";
}

.accordion-panel-section {
    padding: 0;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.accordion-panel-open {
    display: block;
}

.fillterListInput {
    width: 100%;
    font-size: 16px;
    padding: 7px 19px 7px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
}

.fillterListInput + span {
    position: relative;
    left: 11px;
    margin-top: -13%;
    font-size: 20px;
    float: left;
}

.companyCheckList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.companyCheckList li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

.companyCheckList li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

.scrollbar {
    max-height: 300px;
    overflow-y: scroll;
}

.scrollbar-style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollbar-style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-style-1::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
}

.input_wrapper {
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.input_wrapper input[type="checkbox"] {
    width: 70px;
    height: 36px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #072e65;
    background: #fff;
    border: .6px solid #bebebe63;
    border-radius: 15px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    background: #dfeaec;
    background: #dfeaec;
    z-index: 2;
    border-radius: 12px 0 0 12px;
    -webkit-transition: all .35s;
    transition: all .35s;
}

/* Checked State */

.input_wrapper input[type="checkbox"]:checked {
    background: #e52a1f;
    background: #fff;
}

.input_wrapper input[type="checkbox"]:checked:after {
    background: #e52a1f;
    left: calc(100% - 35px);
    border-radius: 0 12px 12px 0;
}
.input_wrapper input[type="checkbox"]:checked:before {
    content: "\f0c9";
    font-family: FontAwesome, FontAwesome5;
    color: #fff;
    font-size: 26px;
    padding: 9px 2px 0;
    transform: rotate(90deg);
    z-index: 1000000;
    position: absolute;
    font-weight: 200;
}

.input_wrapper input[type="checkbox"]:checked:before {

}

.input_wrapper input[type="checkbox"]:checked + .is_checked {
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}

.filterSection {
}

.filterSection label {
    margin-top: 5px;
}

.filterSection .nice-select.paginate {
    width: 80px;
}

.filterSection .nice-select.order {
    width: 125px;
}

.size-area{}
.size-area ul{
    padding-right: 5px;
}
.size-area ul li{
    list-style: none;
}
.size-area ul li input{}
.size-area ul li label{
    position: relative;
    top: -2px;
}

ul.checkbox_list li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

.check-box:last-child,
.radio-box:last-child {
    margin-right: 0;
}

.check-box input[type="checkbox"],
.radio-box input[type="radio"] {
    display: none;
}

.check-box input[type="checkbox"] + label,
.radio-box input[type="radio"] + label {
    position: relative;
    padding-right: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #8f8f8f;
    margin: 0;
    width: 100%;
}

.check-box input[type="checkbox"] + label:before,
.radio-box input[type="radio"] + label:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    /*border: 1px solid #997500;*/
    content: "";
}

.check-box input[type="checkbox"] + label:before {
    border-radius: 3px;
}

.radio-box input[type="radio"] + label:before {
    border-radius: 10px;
}

.check-box input[type="checkbox"] + label:after,
.radio-box input[type="radio"] + label:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: "\f00c";
    /*content: "\f111";*/
    font-family: 'FontAwesome';
    font-weight: 600;
    font-size: 9px;
    line-height: 16px;
    opacity: 0;
    width: 14px;
    text-align: center;
    color: #e52a1f;
}

.check-box input[type="checkbox"]:checked + label:before,
.radio-box input[type="radio"]:checked + label:before {
    /*border: 1px solid #888888;*/
}

.check-box input[type="checkbox"]:checked + label:after,
.radio-box input[type="radio"]:checked + label:after {
    opacity: 1;
}

.categoreisPage .radio-box input[type="radio"] + label {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: .6px solid #bdb6b6;
    padding: 0;
}

ul.checkbox_list li {
    float: right;
    width: 15%;
    list-style: none;
}

.categoreisPage .radio-box input[type="radio"] + label + span {
    position: relative;
    right: 10px;
    color: #888585;
    top: -4px;
}

.categoreisPage .radio-box input[type="radio"] + label:before {
    right: -1px;
    top: -1.5px;
}

.categoreisPage .radio-box input[type="radio"] + label:after {
    padding: 1px 4px;
}

.categoreisPage .productSection {
    border-radius: 5px;
    box-shadow: 0px 0px 9px #ccc;
    margin: 0;
    padding: 15px 10px 35px;
    background: #f9f9f9;
}

.categoreisPage .page-pagination {
    margin: 15px 0;
    box-shadow: 0px 0px 4px #ccc;
    width: 100%;
    direction: ltr;
}

.categoreisPage .page-pagination ul.pagination {
    margin-bottom: 0;
}

.categoreisPage .page-pagination ul.pagination li {
    padding: 10px 0;
}

.categoreisPage .page-pagination ul.pagination li a,
.categoreisPage .page-pagination ul.pagination li span {
    border: none;
    font-size: 25px;
    padding: 3px 15px;
    color: #727171;
}

.categoreisPage .page-pagination ul.pagination li.active span {
    background: #3dc8b5;
    border-radius: 100%;
    color: #fff;
}

.categoreisPage .page-pagination ul.pagination li:first-child {
    border-right: 1px solid #f1f1f1 !important;
    margin-right: 5px;
}

.categoreisPage .page-pagination ul.pagination li:last-child {
    border-left: 1px solid #f1f1f1 !important;
    position: absolute;
    right: 2%;
    margin-left: 5px;
}

.categoreisPage .page-pagination ul.pagination li:first-child a,
.categoreisPage .page-pagination ul.pagination li:first-child span {
    font-size: 27px;
    padding: 0px 15px;
}

.categoreisPage .page-pagination ul.pagination li:last-child a,
.categoreisPage .page-pagination ul.pagination li:last-child span {
    padding: 0px 13px 5px;
    margin-left: 0px;
    font-size: 27px;
}

.notFound {
    font-size: 25px;
    color: #ccc;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.sidebarItem:last-child {
    border: none !important;
}

.title-1 {
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
    color: #fff;
}

.title-1 span {
    border-right: 4px solid #0aaeb8;
    border-radius: 5px;
    margin-left: 10px;
}

.box-1 {
    padding: 15px !important;
    box-shadow: unset;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
}

@media (max-width: 786px) {
    .filterSection [class*="col-"] {
        /* float: right; */
        margin-bottom: 15px;
        text-align: right !important;
    }

    .filterSection .nice-select {
        width: 135px !important;
    }

    .categoreisPage .productSection > div {
        margin-bottom: 15px !important;
    }
}

.card-footer a {
    margin-right: 34%;
}

.btn-1 {
    padding: 12px 15px;
    background: #e52a1f;
    border: 1px solid #e52a1f !important;
    color: #fff;
    border-radius: 11px;
    padding: 12px 30px;
}

.btn-1:hover {
    color: #e52a1f;
    background: #fff;
}


.card .card-body h1 {
    margin: 10px;
}


@media (max-width: 3000px) and (min-width: 1400px) {
    .categoreisPage {
        margin: -13% 0 50px 0;
    }
    h5{
        font-size: 20px;
    }
    .accordion-label-section:after {
        font-size: 24px;
        margin-top: unset;
        top: -37px;
    }
    p , a , label ,select{
        font-size: 18px;
    }

}
@media (max-width: 2500px) and (min-width: 1400px) {}
@media (max-width: 2000px) and (min-width: 1400px) {

}
@media (max-width: 1550px) and (min-width: 1400px){

}

@media (max-width: 1024px) {
    .accordion-label-section:after {
        font-size: 20px;
        margin-top: -20%;
    }

    .price-filter .price-slider-amount .label-input input {
        width: 100%;
    }

    .price-filter .price-slider-amount span {
        margin: 0 47%;
    }

    .check-box:last-child, .radio-box:last-child {
        margin-right: 10px;
    }
    .filterSection .nice-select.order  , .nice-select{
        width:100%;
    }
    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 16% 0 0;
    }
    #mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
        font-size: 12px;
    }
    .categoreisPage {
        margin: -45% 0 50px 0;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .categoreisPage {
        margin: -64% 0 50px 0;
    }

}

@media (max-width: 415px) {
    .accordion-label-section:after {
        font-size: 20px;
        margin-top: -13%;
    }

    .categoreisPage .sidebar {
        margin-bottom: 30px;
    }
    .content-area {
        padding: 8px;
    }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}

