.productPage {
    background-color: #fff;
    margin: -26% 6% 50px;
    padding: 15px;
    border-radius: 23px;
    padding-top: 70px;
}

.productPage .information-area .sp-nav {

}

.directionLTR {
    direction: ltr;
}

.directionRTL {
    direction: rtl;
}

.sp-img_slider {
    padding: 0 30px;
    margin-top: 30px;
}

.sp-img_slider .slick-list {
    margin: 0 -15px;
}

.sp-img_slider .slick-list .slick-slide {
    border: 1px solid #ebebeb;
    margin: 2px 6px;
    height: 70px;
    border-radius: 5px;
}

.sp-img_slider .slick-list .slick-slide.active {
    border-color: #1c75e8;
}

.sp-img_slider .slick-list .slick-slide img {
    width: 100%;
    height: 70px;
    padding: 5px;
}

.information-area .sp-nav .sp-content .page-navigation > a {
    border: 1px solid #ebebeb;
    color: #ebebeb;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}

.information-area .sp-nav .sp-content .page-navigation > a.prev {
    left: auto;
    right: 45px;
}

.information-area .sp-nav .sp-content .page-navigation > a.prev:hover {
    background-color: #fed100;
    border-color: #fed100;
    color: #ffffff !important;
}

.information-area .sp-nav .sp-content .page-navigation > a.next:hover {
    background-color: #fed100;
    border-color: #fed100;
    color: #ffffff !important;
}

.information-area .sp-nav .sp-content .sp-heading > h2 {
    margin-bottom: 0;
    padding-bottom: 25px;
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 575px) {
    .information-area .sp-nav .sp-content .sp-heading > h2 {
        font-size: 18px;
    }
}

.information-area .sp-nav .sp-content .rating-box {
    padding: 0 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .rating-box {
        display: block;
    }
}

.information-area .sp-nav .sp-content .rating-box > ul > li {
    display: inline-block;
}

.information-area .sp-nav .sp-content .rating-box > ul > li > i {
    color: #fdb828;
    font-weight: 900;
}

.rating-box > ul > li.half > i {
    color: #fdb828;
}

.rating-box > ul > li.none > i {
    font-weight: 100 !important;
    color: #ddd !important;
}

.information-area .sp-nav .sp-content .rating-box .rating-info {
    padding-left: 15px;
}

.information-area .sp-nav .sp-content .price-box {
    padding-bottom: 15px;
}

.information-area .sp-nav .sp-content .price-box .old-price {
    color: #c0c0c0;
    text-decoration: line-through;
    display: block;
    font-size: 16px;
    display: inline-block;
}

.information-area .sp-nav .sp-content .price-box .old-price {
    display: inline-block;
    font-size: 19px;
}

.information-area .sp-nav .sp-content .price-box .new-price {
    color: #e01212;
    font-size: 22px;
    font-weight: 600;
}

.information-area .sp-nav .sp-content .price-box .new-price {
    font-size: 31px;
    color: inherit;
    font-weight: 600;
}

.information-area .sp-nav .sp-content .product-desc > p {
    margin-bottom: 0;
}

.information-area .sp-nav .sp-content .umino-countdown_area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 30px;
}

.information-area .sp-nav .sp-content .umino-countdown_area .umino-countdown {
    width: 50%;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .umino-countdown_area .umino-countdown {
        width: 85%;
    }
}

.information-area .sp-nav .sp-content .product-size_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}

.information-area .sp-nav .sp-content .product-size_box > span {
    padding-right: 15px;
}

.information-area .sp-nav .sp-content .product-size_box .myniceselect.nice-select > span {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

.information-area .sp-nav .sp-content .color-list_area {
    margin-top: 25px;
}

.information-area .sp-nav .sp-content .in-stock {
    padding-top: 25px;
}

.information-area .sp-nav .sp-content .in-stock > i {
    padding-right: 5px;
    color: #43ae2e;
}

.information-area .sp-nav .sp-content .quantity {
    /* padding-top: 25px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .quantity {
        display: block;
    }
}

.information-area .sp-nav .sp-content .quantity .cart-plus-minus {
    display: inline-block;
    margin-left: 15px;
}

.information-area .sp-nav .sp-content .quantity .additional-btn_area {
    padding-left: 15px;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .quantity .additional-btn_area {
        padding-left: 0;
        padding-top: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.information-area .sp-nav .sp-content .quantity .additional-btn_area .additional_btn {
    border: 2px solid #fed100;
    border-radius: 25px;
    font-weight: 400;
    width: 170px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

.information-area .sp-nav .sp-content .quantity .additional-btn_area .additional_btn:hover {
    background-color: #fed100;
    color: #ffffff !important;
}

.information-area .sp-nav .sp-content .qty-btn_area {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
}

.information-area .sp-nav .sp-content .qty-btn_area > ul li {
    display: inline-block;
    padding-left: 5px;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .qty-btn_area > ul li {
        width: 100%;
        display: block;
    }
}

.information-area .sp-nav .sp-content .qty-btn_area > ul li:first-child {
    padding-left: 0;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .qty-btn_area > ul li:first-child {
        padding-bottom: 30px;
    }
}

.information-area .sp-nav .sp-content .qty-btn_area > ul li > a.qty-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.information-area .sp-nav .sp-content .qty-btn_area > ul li > a > i {
    background-color: #fed100;
    display: block;
    margin-right: 10px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
}

.information-area .sp-nav .sp-content .qty-btn_area > ul li > a:hover > i {
    color: #ffffff !important;
    -webkit-animation: 2000ms ease-in-out 0.3s normal none 1 running flipInY;
    animation: 2000ms ease-in-out 0.3s normal none 1 running flipInY;
}

.information-area .sp-nav .sp-content .category-list_area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-top: 25px;
}

ul.checkbox_list li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

.check-box:last-child,
.radio-box:last-child {
    margin-right: 0;
}

.check-box input[type="checkbox"],
.radio-box input[type="radio"] {
    display: none;
}

.check-box input[type="checkbox"] + label,
.radio-box input[type="radio"] + label {
    position: relative;
    padding-right: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #8f8f8f;
    margin: 0;
    width: 100%;
}

.check-box input[type="checkbox"] + label:before,
.radio-box input[type="radio"] + label:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    /*border: 1px solid #997500;*/
    content: "";
}

.check-box input[type="checkbox"] + label:before {
    border-radius: 3px;
}

.radio-box input[type="radio"] + label:before {
    border-radius: 10px;
}

.check-box input[type="checkbox"] + label:after,
.radio-box input[type="radio"] + label:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: "\f00c";
    /*content: "\f111";*/
    font-family: 'FontAwesome';
    font-weight: 600;
    font-size: 8px;
    line-height: 16px;
    opacity: 0;
    width: 14px;
    text-align: center;
    color: #e52a1f;
}

.check-box input[type="checkbox"]:checked + label:before,
.radio-box input[type="radio"]:checked + label:before {
    /*border: 1px solid #888888;*/
}

.check-box input[type="checkbox"]:checked + label:after,
.radio-box input[type="radio"]:checked + label:after {
    opacity: 1;
}

footer a.rounded-circle i.fab {
    font-family: "FontAwesome";
}


@media (max-width: 1199px) and (min-width: 992px) {
    .mainmenu a,
    .navbar-default .navbar-nav > li > a,
    .mainmenu ul li a,
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 0.8rem;
        padding: 24px 7px;
    }

    .dropdown-toggle::after {
        margin-right: 0.15em;
    }
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .category-list_area {
        display: block;
    }
}

.information-area .sp-nav .sp-content .category-list_area > h6 {
    margin-bottom: 0;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .category-list_area > h6 {
        padding-bottom: 10px;
    }
}

.information-area .sp-nav .sp-content .category-list_area ul {
    padding-left: 5px;
}

.information-area .sp-nav .sp-content .category-list_area ul > li {
    display: inline-block;
}

.information-area .sp-nav .sp-content .category-list_area ul > li > a {
    color: #999999;
}

.information-area .sp-nav .sp-content .category-list_area.tag-list_area {
    padding-top: 20px;
}

.information-area .sp-nav .sp-content .umino-social_link {
    border-top: 1px solid #ebebeb;
    padding-top: 30px;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .umino-social_link {
        display: block;
    }
}

.information-area .sp-nav .sp-content .umino-social_link > h6 {
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 15px;
}

@media (max-width: 479px) {
    .information-area .sp-nav .sp-content .umino-social_link > h6 {
        padding-right: 0;
        padding-bottom: 25px;
    }
}

.information-area .sp-nav .sp-content .umino-social_link ul > li > a {
    border: 1px solid #ebebeb;
}

/* ---Umino's Quantity--- */
.quantity .cart-plus-minus,
.group-quantity .cart-plus-minus {
    position: relative;
    width: 100px;
    text-align: left;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.quantity .cart-plus-minus > .cart-plus-minus-box,
.group-quantity .cart-plus-minus > .cart-plus-minus-box {
    height: 40px;
    text-align: center;
    width: 60px;
    margin-right: 20px;
    background: #fff;
    border: none;
    float: right;
    border-radius: 5px;
}

.quantity .cart-plus-minus > .qtybutton,
.group-quantity .cart-plus-minus > .qtybutton {
    cursor: pointer;
    height: 24px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 28px;
    line-height: 21px;
}

/* .quantity .cart-plus-minus>.qtybutton:hover,
.group-quantity .cart-plus-minus>.qtybutton:hover {
     background: #ebebeb;
} */

.quantity .cart-plus-minus > .qtybutton.dec,
.group-quantity .cart-plus-minus > .qtybutton.dec {
    left: 0;
    border: none;
    padding: 12px 0 0 0;
}

.quantity .cart-plus-minus > .qtybutton.inc,
.group-quantity .cart-plus-minus > .qtybutton.inc {
    /* left: 0; */
    border: none;
    top: 0;
    padding: 11px 0 0;
}

.fa-minus {
    color: red;
}

.fa-plus {
    color: red;
}

.quantity.group-quantity,
.group-quantity.group-quantity {
    text-align: center;
}

.quantity.group-quantity .cart-plus-minus,
.group-quantity.group-quantity .cart-plus-minus {
    margin: 0 auto;
}

.slider-navigation_style-1 .slick-next {
    left: auto;
    right: 20px;
}

.slider-navigation_style-2 .slick-arrow.slick-next {
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    right: auto;
}

.slider-navigation_style-3 .slick-arrow.slick-next,
.slider-navigation_style-4 .slick-arrow.slick-next {
    right: 0;
}

.slider-navigation_style-4 .slick-arrow.slick-next {
    right: -10px;
    left: auto;
}

/* ---Slider Navigation Style Three---  */

.slider-navigation_style-3 .slick-arrow,
.slider-navigation_style-4 .slick-arrow {
    background: none;
    border: none;
    color: #ebebeb;
    font-size: 25px;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 8;
    cursor: pointer;
    top: -50px;
    left: auto;
    right: 40px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 100%;
    outline: none;
}

.slider-navigation_style-4 .slick-arrow.slick-next {
    right: 0;
}

@media (max-width: 767px) {
    .slider-navigation_style-4 .slick-arrow {
        display: none !important;
    }
}

/* ---Slider Navigation Style Four---  */

.slider-navigation_style-4 .slick-arrow {
    top: 50%;
    left: -6px;
    right: auto;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 0;
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

/* .slider-navigation_style-4 .slick-arrow:hover {
     background-color: #fed100;
     color: #ffffff;
} */

.slider-navigation_style-4 .slick-arrow.slick-next {
    right: -6px;
    left: auto;
}

@media (max-width: 767px) {
    .slider-navigation_style-4 .slick-arrow {
        display: none !important;
    }
}

.slider-navigation_style-4 .slick-arrow {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}

/*----------------------------------------*/

/*  18 - Components - Social Link
/*----------------------------------------*/

.productPage .zoompro-border img {
    height: 370px;
}

.productPage .zoompro-border {
    padding: 15px;
    border: .8px solid #aaa;
    border-radius: 10px;
    height: 400px;
}

.productPage .gallerySection {
    padding-right: 0;
}

.productPage .gallerySection img.zoompro {
    width: 100%;
}

.productPage .gallerySection {
    border-radius: 5px;
    padding: 15px;
}

.productPage .p-info-section .rating-box ul {
    padding: 0;
}

.productPage .p-info-section .topSection {
    margin: 0;
}

.productPage .p-info-section .topSection span i {
    font-weight: 100;
    font-size: 23px;
    cursor: pointer;
    color: #ea6963;
}

.productPage .p-info-section .topSection h1 {
    font-size: 22px;
    font-weight: bold;
}

.productPage .p-info-section .topSection h2 {
    font-size: 18px;
    color: #ccc;
}

.productPage .p-info-section .topSection span {
}

.productPage .p-info-section span.color {
    /*float: right;*/
    /*margin: -3px 0 0 8px;*/
}

.productPage .p-info-section .radio-box {
    float: right;
    margin-left: 1%;
}

.productPage .p-info-section p.define {
}

.productPage .p-info-section p.define span {
}

.productPage .p-info-section p.define i {
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}

.productPage .p-info-section .quantity {
}

.productPage .p-info-section .quantity label {
    font-weight: 600;
    margin-left: 10px;
}

.productPage .p-info-section p.offer {
}

.productPage .p-info-section p.price {
    margin: 0;
    color: #0aaeb8;
    font-size: 20px;
    font-weight: bold;
}

.productPage .p-info-section span.offer {
    font-size: 15px;
    background: #f12c51;
    color: #fff;
    border-radius: 0 15px 15px;
    padding: 2px 10px;
    margin-right: 5%;
}

.productPage .p-info-section p.lastPrice {
    margin: 0;
    text-align: center;
    text-decoration: line-through;
    font-size: 18px;
    color: #a0a0a0;
}

.productPage .p-info-section a.order_btn {
    background: #212121;
    border: 1px solid #212121;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.productPage .p-info-section a.order_btn:hover {
    background: #fff;
    color: #212121;
}

.productPage .p-info-section a.additional_btn {
    background: #e52a1f;
    border: 1px solid #e52a1f;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}

.productPage .p-info-section a.additional_btn:hover {
    background: #fff;
    color: #e52a1f;
}

.productPage .p-info-section a.additional_btn i {
    font-size: 15px;
    margin-left: 8px;
    font-weight: 400;
}

.productPage .p-info-section a.additional_btn span {
}

.productPage .radio-box input[type="radio"] + label {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    /*border: 1px solid #f1f1f1;*/
    padding: 0;
}

.productPage .radio-box input[type="radio"] + label:before {

}

.productPage .radio-box input[type="radio"] + label:after {
    right: 3px;
    top: 2px;
}

.productSectionTwo {
    box-shadow: 0px 1px 20px #ececec;
    padding: 0;
    border-radius: 15px;
    min-height: 190px;
    margin-top: 50px;
}

.productSectionTwo .nav-tabs {
    border: none;
    background-color: #f8f9fb;
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.productSectionTwo .nav-tabs .nav-item {
}

.productSectionTwo .nav-tabs .nav-item a {
    border: none;
    padding: 17px 35px;
    color: #000;
}

.productSectionTwo .nav-tabs .nav-item a.active {
    border-top: 4px solid #fb2b2bbf;
    border-radius: 0;
    color: #fb2b2bbf;
}

.productSectionTwo h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.productSectionTwo h1 {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}

.productSectionTwo hr {
    width: 75%;
    margin-right: 0;
    margin-bottom: 15px;
}

.productSectionTwo .box-1 {
    margin-bottom: 30px;
}

.productSectionTwo h3 {
    font-size: 18px;
    margin: 20px 0;
    color: #7d7d7d;
}

.productSectionTwo input {
    height: 55px;
    background: #ffffff !important;
    margin-bottom: 30px;
    color: #464545;
}

.productSectionTwo textarea {
    /*border: none;*/
    background: #ffffff !important;
    margin-bottom: 30px;
    color: #464545;
}

.productSectionTwo button {
    background: #fb2b2bbf;
    border: 1px solid #fb2b2bbf;
    color: #fff;
    padding: 10px 28px;
}

.productSectionTwo button:hover {
    background: #fff;
    color: #fb2b2bbf;
}

.productSectionTwo button i {
    position: relative;
    top: 3px;
    right: 5px;
}

.productSectionTwo .rating-info {
    float: right;
    position: absolute;
    right: 0;
    direction: rtl;
}

.reating-area > div {
    margin: 17px 0;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    direction: ltr;
}

.star-rating .fa-star {
    color: yellow;
    font-weight: 900;
}

.font-width-normal {
    font-weight: 100 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.productSectionTwo .userComments {
}

.productSectionTwo .userComments .comment-box {
    max-width: 96% !important;
    padding: 15px;
    /*margin: 2%;*/
}

.productSectionTwo .userComments .comment-box .thumb {
    float: right;
}

.productSectionTwo .userComments .comment-box .thumb img {
    /* width: 100%; */
    height: 40px;
    border-radius: 100%;
    max-width: unset;
    margin-left: 2px;
}

.progress-bar {
    background-color: #fc6060;
}

.productSectionTwo .userComments .comment-box .info {
    float: right;
    padding-right: 0;
}

.productSectionTwo .userComments .comment-box .info h3 {
    float: right;
    margin: 9px -4px 0;
}

.productSectionTwo .userComments .comment-box .info a {
    float: left;
    color: #333333b5;
}

.productSectionTwo .userComments .comment-box .info a:hover {
    color: rgb(53, 52, 52);
}

.productSectionTwo .userComments .comment-box .info a i {

}

.productSectionTwo .userComments .comment-box .info span {
    position: relative;
    top: 36px;
    right: -81px;
}

.productSectionTwo .userComments .comment-box .comment {
    float: right;
    width: 100%;
    min-height: 130px;
}

.productSectionTwo .userComments .comment-box .comment p {
    padding: 15px;
}

.productSectionTwo .userComments .commentItem {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 2% 0;
    padding: 1%;
}

.activeTextBoxForAnswer {
    border: 2px solid #f00808 !important;
}

.replay-1 {
    padding-right: 3%;
}

.replay-2 {
    padding-right: 6%;
}

.slick-track img {
    cursor: pointer;
}

.red {
    color: #f00808;
}

.width-20 {
    width: 20%;
}

hr {
    width: 60%;
    margin: 7px 0;
}

#size {
    float: right;
    margin-bottom: 20px;
}

a.helpSize {
    margin-bottom: 20px;
    color: red;
    margin-right: 20px;
}

span.color {

}

@media (max-width: 3000px) and (min-width: 1400px) {
    .productPage {
        margin: -11% 6% 50px;
    }
    .productPage .p-info-section .topSection h1 {
        font-size: 30px;
    }
    .productPage .p-info-section .topSection h2 {
        font-size: 26px;
    }
    .productPage .p-info-section .topSection span {
        font-size: 24px;
    }
    .information-area .sp-nav .sp-content .rating-box {
        margin-top: 15px;
    }
    .progress {
        margin-top: 10px;
    }
    .productPage .zoompro-border {
        height: 607px;
    }
    .productPage .zoompro-border img {
        height: 572px;
    }

    .productPage .p-info-section p.lastPrice {
        text-align: left;
        padding-left: 26%;
    }
    p {
        font-size: 20px !important;
        line-height: 2;
    }
    a,
    a.helpSize ,
    .information-area .sp-nav .sp-content .quantity,
    .productPage .p-info-section span.offer,
    .productPage .p-info-section a.order_btn,
    .productPage .p-info-section a.additional_btn ,
    .productSectionTwo ,
    .productSectionTwo button  {
        font-size: 20px;
    }
}
@media (max-width: 2500px) and (min-width: 1400px) {}
@media (max-width: 2000px) and (min-width: 1400px) {
    .productPage {
        margin: -16% 6% 50px;
    }
    .productPage .p-info-section p.lastPrice {
        padding-left: 34%;
    }
}
@media (max-width: 1550px) and (min-width: 1400px){
    p ,
    a,
    a.helpSize ,
    .information-area .sp-nav .sp-content .quantity,
    .productPage .p-info-section span.offer,
    .productPage .p-info-section a.order_btn,
    .productPage .p-info-section a.additional_btn ,
    .productSectionTwo ,
    .productSectionTwo button  {
        font-size: 17px;
    }
    .productPage {
        margin: -21% 6% 50px;
    }
}
@media (max-width: 1024px) {
    .productPage .zoompro-border{
        height: 500px;
    }
    .productPage .zoompro-border img {
        height: 470px;
    }

    .information-area .sp-nav .sp-img_slider .slick-list .slick-slide img {
        width: 100px;
    }

    .information-area .sp-nav .sp-img_slider .slick-list .slick-slide {
        width: 105px !important;
    }

    .productPage .gallerySection {
        padding: 0;
        margin-bottom: 30px;
    }


    .slider-navigation_style-4 .slick-arrow {
        top: 28%;
    }
    .star-rating .fa-star {
        font-size: 11px;
    }
    .productSectionTwo .userComments .comment-box .info h3 {
        margin: 9px 10px 0;
        font-size: 14px;
    }
    .productSectionTwo .userComments .comment-box .info span {
        right: -66px;
    }
    .productSectionTwo .userComments .comment-box .comment p {
        padding: 15px 0;
    }

}

@media (max-width: 992px) {
    .information-area .sp-nav .sp-img_slider {
        padding: 0 50px;
    }

    .productPage .p-info-section p.lastPrice {
        text-align: left;
        padding-left: 27%;
    }

    .productSectionTwo {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .productPage {
        margin: -58% 6% 50px;
    }
    .slider-navigation_style-4 .slick-arrow {
        top: 50%;
    }
    .productSectionTwo {
        width: auto;
    }
}

@media (max-width: 415px) {
    .productSectionTwo {
        width: unset;
    }

    .productPage .zoompro-border, .productPage .zoompro-border img {
        height: 350px;
    }
    .productPage .p-info-section .rating-box ul {
        float: left;
    }
    .productPage .p-info-section a.order_btn {
        padding: 8px 50px;
    }
    .productPage .p-info-section a.additional_btn {
        padding: 8px 44px;
        position: relative;
        top: 23px
    }
    .productSectionTwo .nav-tabs .nav-item a {
        padding: 8px 6px;
        font-size: 13px;
    }
    .tabContentSection{
        padding: 10px !important;
    }
    .productSectionTwo .userComments .comment-box .comment {
        margin-top: 30px;
    }
    .productSectionTwo .userComments .commentItem {
        padding-bottom: 15px;
    }

}

@media (max-width: 375px) {
    .productPage .zoompro-border{
        height: 350px;
    }
    .productPage .zoompro-border img {
        height: 320px;
    }
    .information-area .sp-nav .sp-img_slider {
        padding: 0 ;
    }
    #size {
        width: 33%;
    }
    .productPage .p-info-section a.order_btn {
        padding: 8px 44px;
    }
    .productPage .p-info-section a.additional_btn {
        padding: 8px 37px;
    }
    .productSectionTwo .nav-tabs .nav-item a {
        padding: 8px 2px;
        font-size: 12px;
    }

}

@media (max-width: 320px) {
    .productPage {
        margin: -100% 2% 50px;
        border-radius: 23px;
        padding-top: 15px;
    }
    .productPage .p-info-section .topSection span ,
    a,
    p {
        font-size: 12px !important;
    }
    .productPage .p-info-section a.order_btn {
        padding: 8px 35px;
    }
    .productPage .p-info-section a.additional_btn {
        padding: 8px 28px;
    }
    .productSectionTwo .nav-tabs .nav-item a {
        padding: 8px 1px;
        font-size: 11px !important;
    }
}
