@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.eot?#iefix') format("embedded-opentype"), url('../fonts/Yekan.woff2') format('woff2'), url('../fonts/Yekan.woff') format('woff'), url('../fonts/Yekan.ttf') format('truetype'), url('../fonts/Yekan.otf') format('opentype'), url('../fonts/Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa, .fas {
    font-family: FontAwesome, FontAwesome5;
    font-weight: 100;
}

[class*='col-'] {
    float: right;
}

.directionLTR {
    direction: ltr;
}

.directionRTL {
    direction: rtl;
}

.btn,
a ,li {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    outline: none;
}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

b,
strong {
    font-weight: 700;
}

.mrg-top-3 {
    margin-top: 3px;
}

.dir-ltr {
    direction: ltr;
}

img {
    object-fit: cover;
}

a:hover {
    text-decoration: none;
}

*:focus {
    box-shadow: 0 0 0 transparent !important;
    outline: 0px;
}

a:focus {
    outline: 0;
    box-shadow: 0 0 0 transparent !important;
    outline: 0px;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 transparent !important;
    outline: 0px;
}

.transition {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    msie-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body {
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 100;
    font-family: Yekan, Helvetica, sans-serif;
    direction: rtl;
    text-align: right;
    color: #292929;
}

body img {
    border-width: 0;
    object-fit: cover;
    max-width: 100%;
}

ul.navbar-nav {
    width: 100%;
    padding: 0 10px 0 0;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

section#header {
    background: url(../../images/header.png) no-repeat center bottom;
    /*background-size: cover;*/
    height: 550px;
}

section#header .menuSection,
section#header .acountSection {
    padding-top: 30px;
}

section#header .menuSection ul.navbar-nav > li:first-child {
    display: none;
}

section#header .menuSection ul.navbar-nav li:first-child a i:before {
    visibility: hidden;
    content: "\f015";
}

section#header .menuSection ul.navbar-nav li {
    width: auto;
    padding: 25px 14px;
}

section#header .menuSection ul.navbar-nav li ul li:hover {
    background-color: #020202;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

section#header .menuSection ul ul li {
    padding: 15px !important;
}

section#header .menuSection ul.navbar-nav li a {
    color: #a0a0a0;
}

section#header .tab-pane .form-group {
    padding: 8px;
    border: 1px solid #efefef;
    border-radius: 5px;
}

section#header .tab-pane .form-group > label {
    position: absolute;
    top: -14px;
    right: 10px;
    background-color: white;
    padding: 0 11px;
    color: #4b9ade;
    font-size: 15px;
}

section#header .tab-pane .form-group input, section#header .tab-pane .form-group select {
    border: none;
    background: #fff;
    font-size: 15px;
}

section#header .tab-pane input {
    padding-left: 35px;
}

section#header .tab-pane input + span {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #b1b0b0;
}

section#header .tab-pane .form-group select {
    width: 90%;
    margin-right: 10%;
    padding-left: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../../images/select.png);
    background-repeat: no-repeat, repeat;
    background-position: left .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

section#header .tab-pane .form-group select + div {
    background-image: url(../../images/bitcoincash-logo.png);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    position: absolute;
    top: 12px;
}

/* For IE (thanks to @SaiManoj) */
section#header .tab-pane .form-group select::-ms-expand {
    display: none;
}

section#header .tab-pane .change {
    background-image: url(../../images/change.png);
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/

/*!* Firefox *!*/
/*input[type=number] {*/
    /*-moz-appearance: textfield;*/
/*}*/

@media (min-width: 768px) {
    section#header .menuSection ul.navbar-nav li > a:hover {
        /*border-bottom: 1px solid #e8cc91;*/
        color: #fff;
        font-weight: 800
    }

}

.btn-1 {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #1b1b21;
    margin-top: 11px;
}

.btn-1:hover {
    background-color: #1b1b21;
    border: 1px solid #ffffff;
    color: #fff;
}

.btn-2 {
    background-color: #e52a1f;
    border: 1px solid #e52a1f;
    color: #fff;
    padding: 10px 30px;
}

.btn-2:hover {
    background-color: #fff;
    color: #e52a1f;
}

.btn-3 {
    background-color: #1D9B37;
    border: 1px solid #1D9B37;
    color: #fff;
    padding: 10px 30px;
}

.btn-3:hover {
    background-color: #fff;
    color: #1D9B37;
}

/*==========Sub Menu=v==========*/

.mainmenu .collapse ul > li:hover > a {
    /* background: #002a60;
    color: white; */
}

.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    /* background: #1350a2; */
}

.mainmenu .collapse ul ul ul > li:hover > a {
    /* background: #820406; */
}

.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    /* background: #002a60; */
}

.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    /* background: #002a60 */
}

.mainmenu .collapse ul ul li a,
.mainmenu .collapse ul ul.dropdown-menu li a {
    /* color: white; */
    /* padding: 9px; */
}

.mainmenu .collapse ul ul ul li a,
.mainmenu .collapse ul ul ul.dropdown-menu li a {
    /* color: white; */
    /* padding: 9px; */
}

.mainmenu .collapse ul ul ul ul li a,
.mainmenu .collapse ul ul ul ul.dropdown-menu li a {
    /* color: white; */
    /* padding: 9px; */
}

.mainmenu .collapse ul ul li a::after {
    border-right: .4em solid;
    border-top: .3em solid transparent;
    border-left: 0;
    border-bottom: .3em solid transparent;
}

.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    /* min-height:20px; */
    width: 100%;
}

section#header .form-inline {
    float: left;
}

.dropdown-menu {
    left: unset;
    right: 0;
    float: right;
    font-size: inherit;
    text-align: right;
}

.form-inline input {
    color: white;
    border-color: transparent;
    font-size: .7rem;
    background: #fff;
    height: 43px;
    border: .6px solid transparent;
    width: 300px !important;
    border-radius: 10px;
    padding-left: 44px;
}

.form-inline button {
    color: white !important;
    padding: 4px 10px 0px;
    z-index: 10;
    position: absolute;
    left: 3px;
    background-color: #212121;
    height: 37px;
    border-radius: 9px;
}

section#header .acountSection {}
section#header .acountSection .userIcon{
    float: right;
}

section#header .acountSection .fa-user {
    color: #fff;
    background-color: #5f5f5f;
    padding: 8px;
    font-size: 20px;
    border-radius: 9px;
    margin-top: 17px;
}

section#header .acountSection a.basket {
    background-color: #e52a1f;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    position: relative;
    top: 17px;
    margin-right: 5px;
    border-radius: 9px;
}

section#header .acountSection a.basket i {
    font-size: 15px;
    margin-left: 8px;
}

section#header .acountSection a.basket span {
}

section#header .acountSection a.basket span.badge {
    background-color: #fff;
    color: red;
    font-size: 12px;
    border-radius: 100px;
}

section#header > .container {
    padding: 0 10px 0 5px;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block;
        border-top: 3px #e9cd93 solid;
        background: #1a1a20;
        border-bottom: 1px #e9cd93 solid;
    }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 200px;
        display: none;
    }

    .mainmenu .collapse ul ul li:hover > ul {
        display: block
    }

    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        right: 100%;
        min-width: 200px;
        display: none
    }

    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative
    }

    .mainmenu .collapse ul ul ul li:hover ul {
        display: block
    }

    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        right: -100%;
        min-width: 200px;
        display: none;
        z-index: 1
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px
    }

    section#header .mainmenu {
        background: #1b1a1a;
    }
}

.dropdown-toggle::after {
    margin-right: 0.35em;
    margin-left: 0;
    float: left;
    margin-top: 14px;
}

body section#header nav .navbar-toggler {
    color: #ffc000 !important;
    border-color: #ffc000 !important;
    padding: 0 2px;
    margin: 13px 0;
}

body section#header nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 192, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body section#header nav .navbar-nav {
    padding: 0;
}

body section#header nav .navbar-nav .nav-item {
    position: relative;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    msie-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body section#header nav .navbar-nav .nav-item .nav-link {
    padding: 15px 20px 20px;
    font-size: 1rem;
    border-width: 0;
}

body section#header nav .navbar-nav .nav-item .nav-link:hover {
    color: #28457b;
}

body section#header nav .navbar-nav .nav-item:hover::after,
body section#header nav .navbar-nav .nav-item.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fce229;
}

footer {
    background-color: #212121;
    color: #fff;
    margin-right: 4%;
    padding: 60px;
    border-radius: 0 40px 0 0;
}

footer span {
    display: block;
    margin-bottom: 15px;
}

footer span i {
    font-weight: 500 !important;
    margin-left: 12px;
}

.text-contact,
.div-about-footer-p,
.footer-links a {
    color: #EDEDED;
}

footer h2.title {
    color: #e52a1f;
    font-size: 18px;
    width: 100%;
}

footer h6 {
    font-size: 12px;
    margin-bottom: 20px;
}

footer ul {
}

footer ul li {
}

footer ul li a {
    color: #fff;
}

footer ul li a:hover {
    color: #aaa;
}

footer img.e {
    background-color: #fff;
    width: 100%;
    height: 170px;
    padding: 7% 7%;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #fff;
}

footer .border-footer {
}

footer .copyright {
    border-top: .8px solid #5a5a5a;
    padding-top: 25px;
    margin-top: 30px;
    border-top: .8px solid #5a5a5a;
    padding-top: 25px;
    margin-top: 30px;
}

footer .copyright a {
    border: 1px solid;
    padding: 5px 7px 3px !important;
    margin-left: 5px;
    font-size: 10px;
    color: #aaa;
    border-radius: 100px;
}

footer .copyright a:hover {
    color: rgb(15, 155, 236);
}

.owl-prev,
.owl-next {
    position: absolute;
    margin-top: -25px !important;
    top: 50%;
    padding: 0;
    font-size: 22px !important;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100% !important;
    line-height: 5px;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #c8d0e3;
    width: 36px;
    height: 36px;
    border-radius: 100% !important;
    line-height: 34px;
    text-align: center;
    padding: 2px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: white;
    box-shadow: 0px 0px 5px #dbdbdb;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #7b7b7b;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #ffcd05;
    box-shadow: 0px 0px 5px #ffcd05;
    color: #ffcd05;
}

.owl-carousel .owl-nav.disabled {
    display: block !important;
}

.div-price {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div-price span:first-child {
    font-size: .7rem;
}

.div-price span:last-child {
    font-size: 1.3rem;
    color: #1D9B37;
}

#box-ssh .row {
    flex-flow: row nowrap;
    justify-content: space-between;
}

.div-pr-ssh {
    width: 24%;
    background: white;
    box-shadow: 0px 2px 6px #F3F5F8;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 8px;
}

.div-why {
    width: 89%;
    background: white;
    box-shadow: 0px 2px 6px #F3F5F8;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-top: 24px !important;
}

.div-pr-ssh:hover {
    box-shadow: 0px 2px 6px #DAE1EA;
}

.div-text-box-ssh {
    margin-right: 20px;
}

.title-box-ssh {
    font-size: 1.2rem;
}

.div-text-box-ssh a {
    color: #002A60;
    float: left;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.div-text-box-ssh a:hover {
    color: #ffc000;
}

#customers {
    padding: 28px 100px;
}

#customers img {
    height: 130px;
}

#customers .owl-carousel .owl-prev,
#customers .owl-carousel .owl-next {
    position: absolute;
    font-size: 22px !important;
    overflow: hidden;
    background: none !important;
}

#customers .owl-carousel .owl-prev {
    left: -3%;
    padding: 4px 4px 0 0px;
}

#customers .owl-carousel .owl-next {
    padding: 3px 2px 0 3px;
    right: -3% !important;
}

.div-img-why {
    width: 95%;
    margin: 0 auto;
}

.div-box-w {
    flex-wrap: wrap;
    justify-content: space-between;
}

#why-us {
    background-color: #fdfdfe;
}

#why-us h3 {
    font-size: 14px;
    line-height: 1.9rem;
    width: 100%;
    color: #b5b4b4;
}

#why-us h1 {
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 800;
    margin-right: auto;
    margin-left: auto;
}

.color-red {
    color: #ee3030;
}

#dotSlider {
    margin-top: -32%;
    background-image: url(../../images/dot.png);
    margin-bottom: 17%;
    width: 156px;
    height: 170px;
    margin-right: 2%;
    background-repeat: no-repeat;
}

#mainSlider {
    background-color: #e52a1f;
    border-radius: 50px 0 50px 0;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 16px #946865;
    margin-bottom: 20px;
    margin-top: -27%;
}

#mainSlider .owl-carousel .item, #mainSlider .owl-carousel .item > div {
    height: 400px;
}

#mainSlider .owl-carousel .item img {
    /*height: 350px !important;*/
    /*max-height: 350px;*/
    /*width: 100%;*/
}

#mainSlider .owl-carousel .item .info {
    color: #fff;
    padding: 0 80px;
    direction: rtl;
}

#mainSlider .owl-carousel .item h1.name_en {
    font-size: 100px;
    text-align: center;
    color: #e53b2f;
}

#mainSlider .owl-carousel .item h1.name_fa {
    font-size: 65px;
    position: absolute;
    margin-top: -13%;
    margin-right: 22%;
}

#mainSlider .owl-carousel .item h3 {
    margin-top: 8%;
    margin-bottom: 3%;
}

#mainSlider .owl-carousel .item p {
    text-align: justify;
    line-height: 2;
}

#mainSlider .owl-carousel .item span {
    font-weight: 900;
    font-size: 15px;
}

#mainSlider .owl-carousel .item a {
    background: #212121;
    border-color: #212121;
    color: #fff;
    float: left;
    padding: 8px 20px;
}

#mainSlider .owl-carousel .item a:hover {
    background: #fff;
    color: #212121;
}

#mainSlider .owl-carousel .owl-nav {
    background: #dc2116;
    width: 55px;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    top: 0%;
}

#mainSlider .owl-carousel .owl-prev,
#mainSlider .owl-carousel .owl-next {
    position: absolute;
    font-size: 22px !important;
    overflow: hidden;
    background-color: #ca1e14;
    top: unset !important;
    left: 10px;
    padding: 3px 0;
    color: #bb1212;
}

#mainSlider .owl-carousel .owl-prev {
    margin-top: 55px !important;
}

#mainSlider .owl-carousel .owl-next {
    margin-top: 10px !important;
}

#mainSlider .owl-nav [class*='owl-']:hover {
    background: #212121;
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 5px #bb1212;
    box-shadow: unset !important;
}

#mainSlider .owl-dots {
    width: 30px;
    height: 100px;
    position: absolute;
    margin-top: -9%;
    left: 1.7%;
    text-align: center;
}

#mainSlider .owl-dots .owl-dot {
    text-align: center;
    font-size: 10px;
    width: 15px;
    height: 15px;
}

#mainSlider .owl-dots .owl-dot span {
    color: #650903;
}

#mainSlider .owl-dots .owl-dot.active span {
    color: #fdfdfe;
}

#why-us h2 {
    font-size: 20px;
}

#why-us p {
    text-align: center;
    font-size: 13px;
    color: #636060;
}

#why-us .fa {
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 20px;
}

#why-us .item:hover > i,
#why-us .item:hover > h2 {
    color: #ee3030;
}

#how-to-order {
    background: url(../../images/order.png) no-repeat center;
    min-height: 348px;
    margin-top: 20px;
}

#how-to-order .one {
    background: url(../../images/order-1.png) no-repeat;
    margin-right: 10%;
}

#how-to-order .two {
    background: url(../../images/order-2.png) no-repeat;
}

#how-to-order .three {
    background: url(../../images/order-3.png) no-repeat;
}

#how-to-order .four {
    background: url(../../images/order-4.png) no-repeat;
}

#how-to-order .col {
    width: 21%;
    float: right;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#how-to-order h1 {
    text-align: center;
    color: #fff;
    position: relative;
    top: 40px;
    margin-bottom: 70px;
    font-size: 25px;
}

#how-to-order span {
    color: #fff;
    font-size: 16px;
    position: absolute;
    margin: 28% 15%;
}

#how-to-order .one span,
#how-to-order .two span {
    margin-right: 16%;
}

#how-to-order .three span {
    margin-right: 14.5%;
}

#how-to-order .four span {
}

#index-ad-area {
}

#index-ad-area .ad:nth-child(1) {
    background: url(../../images/ad-1.png) no-repeat;
}

#index-ad-area .ad:nth-child(1) h2 {
    font-size: 20px;
    margin-right: 50%;
    width: 50%;
    margin-top: 20px;
    line-height: 1.5;
}

#index-ad-area .ad:nth-child(1) p {
    margin-right: 50%;
    margin-bottom: 8px;
}

#index-ad-area .ad:nth-child(1) a {
    float: left;
    background-color: #1483ce;
    border-radius: 100px;
    padding: 1px 21px;
    color: #fff;
    font-size: 12px;
}

#index-ad-area .ad:nth-child(2) {
    background: url(../../images/ad-2.png) no-repeat;
}

#index-ad-area .ad:nth-child(2) p {
    margin: 35% 60% 0 0;
}

#index-ad-area .ad:nth-child(3) {
    background: url(../../images/ad-3.png) no-repeat;
}

#index-ad-area .ad:nth-child(3) h2 {
    font-size: 20px;
    width: 50%;
    margin-right: 60%;
    line-height: 1.5;
    margin-top: 20px;
}

#index-ad-area .ad:nth-child(3) a {
    background-color: #e52a1f;
    border-radius: 100px;
    padding: 5px 35px;
    color: #fff;
    float: left;
    margin-top: 20px;
    font-size: 12px;
}

#index-ad-area .ad {
    background-position: center !important;
    width: 32%;
    max-width: 31%;
    margin: 1%;
    border-radius: 15px;
    margin-top: 50px;
    height: 180px;
    padding: 20px;
    color: #fff;
}

#mostSaleProduct {
}

#mostSaleProduct h3 {
    margin: 4% 9% 1%;
    font-size: 22px;
}

#mostSaleProduct hr {
    width: 6.5%;
    border-color: red;
    border-width: 2px;
    margin-right: 9%;
    margin-bottom: 22px;
    margin-top: 0;
}

#mostSaleProduct .owl-carousel {
}

#mostSaleProduct .owl-carousel .owl-stage {
    margin-bottom: 20px;
}

#mostSaleProduct .owl-carousel .item, .categoreisPage .item {
    padding: 17px;
    text-align: center;
    margin: 3%;
    box-shadow: 0px 0px 7px #ddd;
    border-radius: 15px;
    direction: rtl;
}

#mostSaleProduct .owl-carousel .item:hover, .categoreisPage .item:hover {
    box-shadow: 4px 8px 20px #d0d0d0;
}

#mostSaleProduct .owl-carousel .item .head i, .categoreisPage .item .head i {
    font-size: 13px;
    color: #aaa;
    margin: 1.5% 5% 0 1%;
}

#mostSaleProduct .owl-carousel .item .head b, .categoreisPage .item .head b {
    color: #aaa;
}

#mostSaleProduct .owl-carousel .item .head span, .categoreisPage .item .head span {
    background-color: #35b88b;
    position: absolute;
    left: 9%;
    color: #fff;
    font-size: 11px;
    padding: 0px 8px;
    border-radius: 6px 0 6px 6px;
}

#mostSaleProduct .owl-carousel .item .body img, .categoreisPage .item .body img {
    margin: 5px auto;
}

#mostSaleProduct .owl-carousel .item .footer a, .categoreisPage .item .footer a {
    width: 100%;
}

#mostSaleProduct .owl-carousel .item .footer p, .categoreisPage .item .footer p {
    width: 100%;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

#mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
    color: #008800;
    font-size: 18px;
    margin-right: 8%;
}

#mostSaleProduct .owl-carousel .item span.none, .categoreisPage .item span.none {
    background: #e52a1f;
}

#mostSaleProduct .owl-carousel .item .footer span b, .categoreisPage .item .footer span b {
    color: #aaa;
    font-weight: 500;
    font-size: 15px;
}

#mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
    margin: -8px 36% 0 0;
    background: #4c4c4c;
    padding: 10px 9px;
    font-size: 17px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 200;
}

#mostSaleProduct .owl-carousel .item .footer i:hover, .categoreisPage .item .footer i:hover {
    background: #e52a1f;
}

#mostSaleProduct .owl-prev,
#mostSaleProduct .owl-next {
    top: -11%;
    background-color: #e4e4e4;
    padding: 3px !important;
    color: #aaa;
}

#mostSaleProduct .owl-prev {
    font-weight: 300;
}

#mostSaleProduct .owl-next {
    left: 4%;
}

#mostSaleProduct .owl-nav i {
    font-weight: 300;
}

#mostSaleProduct .owl-nav [class*='owl-']:hover {
    background: #e52a1f;
    box-shadow: 0px 0px 5px #e52a1f;
    color: #fff;
}

#save-order {
    background: #e52a1f;
    color: #000;
    margin: 4% 9.5%;
    border-radius: 17px;
    padding: 32px 25px 15px;
    box-shadow: 1px 6px 19px #e52a1f;
}

#save-order h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#save-order h1 span {
    color: #fff;
}

#save-order p {
}

#save-order img {
}

#save-order a {
    background-color: #272727;
    color: #fff;
    padding: 17px 50px;
    border-radius: 5px;
    position: relative;
    top: 30%;
}

#offers {
    margin-top: 72px;
}

#offers > div {
    background: url(../../images/offers.png) no-repeat;
    width: 1230px !important;
    min-height: 445px;
    background-size: contain;
}

#offers > div h1 {
    color: #ddd;
    text-align: center;
    /* width: 100%; */
    font-size: 22px;
    margin: 35px 0;
    border-bottom: 2px solid red;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

#offers > div .col {
    width: 14%;
    max-width: 14%;
    margin: .8%;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 18px;
}

#offers > div img {
    height: 152px;
    width: 100%;
}

#offers > div .box {
    background-color: #fff;
    border-radius: 20px;
    margin: 0px;
    position: absolute;
    right: 10px;
    left: 10px;
    margin-top: -25px;
}

#offers > div .box h3 {
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #e52a1f;
    border-radius: 100px;
    color: #fff;
    padding: 6px 12px;
    margin-top: -10px;
}

#offers > div .box p {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}

#offers > div .box a {
    background-color: #f7fafc;
    margin-right: auto;
    margin-left: auto;
    color: #212121;
    border-radius: 50px 50px 0 0;
    padding: 4px 10px 0;
    font-size: 11px;
}

#offers > div .box a:hover {
    background-color: #e52a1f;
    color: #fff;
}

#offers > div .col:last-child {

}

#offers > div .col:first-child {
    margin-right: 4.5%;
}

#news {
    background-color: #fdfdfe;
    padding: 50px;
}

#news .head h3 {
    font-size: 22px;
}

#news .head hr {
    width: 112px;
    border-color: #e52a1f;
    border-width: 2px;
}

#news .owl-carousel .item  , .blogPage .item{
    margin: 2%;
    border-radius: 18px;
    border: .8px solid #ccc;
    padding: 0 !important;
    padding-bottom: 10px !important;
    height: 350px;

}

#news .owl-carousel .item:hover , .blogPage .item:hover {
    box-shadow: 2px 6px 15px #e8e8e8;
    border-color: #fff;
}

.owl-stage {
    margin-bottom: 11px;
}

#news .owl-carousel .item img , .blogPage .item img {
    border-radius: 18px 18px 0 0;
    height: 190px;
    width: 100%;
}

#news .owl-carousel .item h3 , .blogPage .item h3 {
    color: #3a3a3a;
    font-size: 17px;
    margin: 10px;
}

#news .owl-carousel .item p , .blogPage .item p {
    color: #3a3a3a;
    font-size: 12px;
    margin: 10px;
}

#news .owl-carousel .item span , .blogPage .item span {
    margin: 0 79% 0 0;
    color: #9a9a9a;
}

#news .owl-carousel .item span i {
}

#news .owl-prev,
#news .owl-next {
    top: 110%;
    background-color: #e4e4e4;
    padding: 3px !important;
    color: #aaa;
}

#news .owl-prev {
    left: 47%;
}

#news .owl-next {
    left: 50.5%;
}

#news .owl-nav i {
    font-weight: 300;
}

#news .owl-nav [class*='owl-']:hover {
    background: #e52a1f;
    box-shadow: 0px 0px 5px #e52a1f;
    color: #fff;
}

#brandSection {
    background-color: #fdfdfe;
    margin: 60px 0;
}

#brandSection h3 {
    font-size: 22px;
}

#brandSection hr {
    width: 112px;
    border-color: #e52a1f;
    border-width: 2px;
}

#brandSection .row {
    text-align: center;
}

#brandSection .col {
    margin: 0.5%;
    width: fit-content;
    display: inline-flex;
}

#brandSection .col img {
    border-radius: 100%;
    max-width: 90px;
    height: 90px;
}

.userIcon {
    float: right;
}

.userIcon i {
}

.userIcon i:after {
    content: "\f107";
    float: left;
    margin: 5px 11px 0 0;
}

li.dropdown > a:after {
    content: "\f107";
    font-family: FontAwesome, FontAwesome5;
    position: absolute;
    margin-right: 6px;
    margin-top: 2px;
}

.userIcon .dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 59px, 0px);
    top: 90px !important;
    right: 0px;
    will-change: transform;
    border-top: 3px #e9cd93 solid;
    background: #1a1a20;
    border-bottom: 1px #e9cd93 solid;
}

.userIcon .dropdown-menu a {
    color: #aaa;
    padding: 12px;
}

.userIcon .dropdown-menu a:hover {
    background-color: #020202;
}



/*###############################################################################################
#####################################################################    userPanelSection      */

.userPanelSection {
    /* margin: -24% 90px 100px;     */
    margin: -24% 6.5% 100px;
    background-color: #f8f9fb;
    border-radius: 20px;
    padding: 5% 15px;
    box-shadow: 1px 2px 20px #ddd;
}

.userPanelSection form {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 30px;
    background: #fff;
}

.userPanelSection form h1 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
}


.userPanelSection form input {
    height: 50px;
    margin-bottom: 30px;
}

.userPanelSection form button i {
    position: relative;
    top: 3px;
    right: 5px;
}

.userPanelSection form .robotSecurity {
    margin-top: 20%;
}

.userPanelSection .userPanleRightSide {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}

.userPanelSection .userPanleRightSide .imageSection {
    width: 100%;
    margin: 0;
    padding: 25px 50px 15px;
}

.userPanelSection .userPanleRightSide .imageSection img {
    border-radius: 100%;
}

.userPanelSection .userPanleRightSide .imageSection a p {
    text-align: center;
    margin-top: 15px;
    color: #aaa;
}

.userPanelSection .userPanleRightSide ul {
    width: 100%;
    padding: 0;
}

.userPanelSection .userPanleRightSide ul li {
    list-style: none;
    padding: 10px 22px;
}

.userPanelSection .userPanleRightSide ul li:before {
    content: "\f100";
    font-family: FontAwesome, FontAwesome5;
    color: #e52a1fad;
    margin-left: 7px;
    position: relative;
    top: 2px;
}

.userPanelSection .userPanleRightSide ul li.activeLink ,.userPanelSection .userPanleRightSide ul li:hover {
    background-color: #f1f0f0;
}

.userPanelSection .userPanleRightSide ul li a {
    color: #aaa;
}

.userPanelSection i.remove{
    font-style: normal;
    color: red;
    font-weight: 900;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.userPanelSection h5.notFound{
    padding: 30px;
    margin: 0;
    background-color: #f98a8a;
    color: #fff;
    font-size: 24px;
}
.userPanelSection table th{
    border-top: none;
}
.userPanelSection #factorUnit {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #eee;
}

.userPanelSection #factorUnit .block-title {
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
}
.userPanelSection #factorUnit .block-content dl dt {
    width: 50%;
    float: right;
    line-height: 2;
    margin-bottom: 15px;
}
.userPanelSection #factorUnit .block-content dl dd {
    float: left;
    width: 50%;
    line-height: 2;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
}
.userPanelSection input[type=number]{
    width: 70px;
}
.userPanelSection #factorUnit .factorRow{
    padding-right: 34%;
}
.userPanelSection .priceSection{}
.userPanelSection .priceSection p{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}
.userPanelSection .priceSection p b{}
.userPanelSection .priceSection label{
    margin-top: 40px;
}
.userPanelSection .priceSection input{
    height: 50px;
    background-color: #f8f9fb;
    margin-bottom: 20px;
    border: none;
}


/*#########################################################################33
###########################################          blogPage           */
.blogPage , .orderPage{
    margin: -24% 90px 100px;
    background-color: #f8f9fb;
    border-radius: 20px;
    padding: 5% 15px;
    box-shadow: 1px 2px 20px #ddd;
}
.blogPage .blog_details_right{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}
.blogPage .blog_details_right h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
}
.blogPage .blog_details_right ul{
    padding: 0;
}
.blogPage .blog_details_right ul li{
    list-style: none;
    padding: 10px;
}
.blogPage .blog_details_right ul li:hover{
    background-color: #eee;
}
.blogPage .blog_details_right ul li a{
    color: #aaa;
}
.blogPage .blog_details_right ul li a img{
    width: 100px;
    height: 75px;
    border-radius: 3px;
}

.blogPage .contentSection {
    background-color: #fff;
    border-radius: 14px;
    padding: 15px 15px;
}
.blogPage .contentSection .imgSection{
    height: 490px;
}
.blogPage .contentSection .imgSection span{
    float: left;
}
.blogPage .contentSection .blog_details{}
.blogPage .contentSection .blog_details span{
    font-size: 20px;
}
.blogPage .contentSection .blog_details h1{
    font-size: 25px;
    margin: 30px 0px 15px;
}

.blogPage .contentSection .tags{}
.blogPage .contentSection .tags p{}
.blogPage .contentSection .tags a{}

.blogPage .item{
    margin: 1%;
    width: 23%;
    max-width: 23%;
}
.blogPage .item img{}

.orderPage{}
.orderPage h1{
    font-size: 30px;
}


@media (max-width: 3000px) and (min-width: 1400px) {

    #dotSlider {
        margin-top: -7%;
        width: 280px;
        height: 150px;
        margin-right: 4%;
    }
    #mainSlider {
        width: 86%;
    }
    .container{
        max-width: 2500px;
    }
    section#header > .container {
        padding: 20px 10px 0 5px;
        margin: 0 18%;
        max-width: 2000px;
    }
    section#header {
        background: url(../../images/header.png) !important;
    }
    #mainSlider .owl-carousel .item .info {
        padding: 70px 80px;
    }
    #mainSlider .owl-carousel .item h3 {
        margin-top: 0%;
        margin-bottom: 2%;
    }

    #mainSlider .owl-dots {
        margin-top: -4.5%;
        left: 0.8%;
    }
    #how-to-order {
        background: url(../../images/order.png) no-repeat;
        min-height: 470px;
        margin-top: 80px;
        margin-bottom: 50px;
        background-size: cover;
        border-radius: 50px;
        width: 90%;
        margin-right: 5%;
    }
    #how-to-order .col {
        width: 21%;
        height: 350px;
        background-size: cover;

    }
    #how-to-order .one span, #how-to-order .two span {
        margin-right: 21%;
    }
    #how-to-order span {
        font-size: 30px;
        margin: 26% 27%;
    }
    #how-to-order .three span {
        margin-right: 18.5%;
    }
    #how-to-order .four span {
        margin-top: 25%;
    }
    #index-ad-area .ad {
        background-size: cover !important;
        height: 280px;
    }
    #index-ad-area .ad:nth-child(1) p {
        margin-bottom: 10%;
        font-size: 21px;
    }
    #index-ad-area .ad:nth-child(1) h2 {
        font-size: 24px;
    }
    #index-ad-area .ad:nth-child(3) h2 {
        font-size: 24px;
    }
    #index-ad-area .ad:nth-child(3) a {
        margin-top: 13%;
    }
    #mostSaleProduct h3 {
        font-size: 30px;
    }

    .owl-prev, .owl-next {
        margin-left: 3%;
        font-size: 30px !important;
    }
    #mostSaleProduct .owl-next {
        left: 2%;
    }
    #mostSaleProduct .owl-carousel .item .body img, .categoreisPage .item .body img {
        margin: 15px;
        width: 100%;
    }

    #mostSaleProduct .owl-carousel .item .head b, .categoreisPage .item .head b {
        font-size: 26px;
        margin: 5px;
    }
    #mostSaleProduct .owl-carousel .item .head i, .categoreisPage .item .head i {
        font-size: 23px;
    }
    #mostSaleProduct .owl-carousel .item .head span, .categoreisPage .item .head span {
        font-size: 20px;
        padding: 5px 8px;
    }
    #mostSaleProduct .owl-carousel .item .footer p, .categoreisPage .item .footer p {
        margin-bottom: 52px;
        font-size: 34px;
    }
    #mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
        font-size: 30px;
    }
    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 46% 27px 0;
        font-size: 26px;
    }
    #offers > div {
        background: url(../../images/offers.png) no-repeat;
        width: 2250px !important;
        min-height: 754px;
        background-size: cover;
    }
    #offers > div h1 {
        font-size: 30px;
    }
    #offers > div img {
        height: 350px;
    }
    #offers > div .box {
        margin-top: -6px;
        height: 123px;
    }
    #offers > div .box p {
        font-size: 20px;
    }
    #offers > div .box h3 {
        font-size: 20px;
    }
    #offers > div .box a {
        font-size: 19px;
    }
    #news .head h3 {
        font-size: 30px;
    }
    #news .owl-carousel .item h3, .blogPage .item h3 {
        font-size: 22px;
        margin: 20px;
    }
    #news .owl-carousel .item p, .blogPage .item p {
        font-size: 19px;
        line-height: 2;
        margin: 20px;
    }
    #news .owl-prev {
        left: 45%;
    }
    #news .owl-next {
        left: 46.5%;
    }
    #brandSection h3 {
        font-size: 30px;
    }

    #why-us .fa {
        font-size: 50px;
        margin-bottom: 30px;
    }
    #why-us h2 {
        font-size: 24px;
    }
    #why-us p {
        font-size: 20px;
        line-height: 2.5;
    }
    #mostSaleProduct .owl-prev, #mostSaleProduct .owl-next {
        top: -7%;
    }
    #save-order {
        padding: 47px 25px 32px;
    }
    #save-order h1 {
        font-size: 32px;
    }
    #save-order p {
        font-size: 20px;
    }
    #save-order a {
        font-size: 20px;
    }
    .text-contact, .div-about-footer-p, .footer-links a {
        font-size: 20px;
        line-height: 2;
    }
    footer span {
        font-size: 20px;
        line-height: 3;
    }
    footer .txt{
        font-size: 20px;
    }
    footer h2.title {
        font-size: 30px;
    }
    footer h6 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    footer ul li a {
        font-size: 20px;
        line-height: 2.5;
    }
    footer img.e {
        height: 270px;
    }
    footer .copyright a {
        padding: 7px 15px 2px !important;
        font-size: 30px;
    }
    .blogPage, .orderPage {
        margin: -11% 90px 100px;
    }
    .userPanelSection {
        margin: -11% 9% 100px;
    }

}
@media (max-width: 2500px) and (min-width: 1400px) {
    .userPanelSection {
        margin: -11% 0% 100px;
    }
    #how-to-order span {
        font-size: 30px;
        margin: 31% 26%;
    }
    #how-to-order .four span {
        margin-top: 30%;
    }
    #how-to-order span {
        margin: 32% 26%;
    }
    #how-to-order .one span, #how-to-order .two span {
        margin-right: 20%;
    }
    #news .owl-carousel .item p, .blogPage .item p {
        font-size: 16px;
    }
    #news .owl-prev {
        left: 44.5%;
    }
    #news .owl-next {
        left: 47%;
    }
}
@media (max-width: 2000px) and (min-width: 1400px){
    .userPanelSection {
        margin: -17% 5% 100px;
    }
    .blogPage, .orderPage {
        margin: -17% 90px 100px;
    }
    section#header > .container {
        margin: 0 5%;
        max-width: 1800px;
    }
    .container {
        max-width: 1800px;
    }
    #offers > div {
        width: 1800px !important;
        background-size: contain;
    }
    #offers > div img {
        height: 300px;
    } 
    #offers > div .box {
        margin-top: -10px;
        height: 90px;
    }
    #offers > div .box a {
        font-size: 16px;
    }
    #news .owl-carousel .item, .blogPage .item {
        height: 380px;
    }
    #news .owl-carousel .item p, .blogPage .item p {
        font-size: 15px;
    }
    #dotSlider {
        margin-top: -18%;
        width: 130px;
        height: 115px;
        margin-right: 4%;
        background-repeat: repeat-x;
    }
    #mainSlider {
        margin-top: -20%;
    }
    #how-to-order .col {
        background-size: contain;
    }

    #how-to-order span {
        margin: 40% 24%;
        font-size: 20px;
    }
    #how-to-order .one span, #how-to-order .two span {
        margin-right: 24%;
    }
    #how-to-order .three span {
        margin-right: 18.5%;
    }
    #how-to-order .four span {
        margin-top: 39.5%;
    }

    #index-ad-area .ad:nth-child(3) h2 {
        font-size: 20px;
        margin-right: 55%;
    }
    #index-ad-area .ad:nth-child(1) h2 {
        font-size: 20px;
        margin-right: 48%;
    }
    #index-ad-area .ad:nth-child(1) a {
        font-size: 15px;
    }
    #index-ad-area .ad:nth-child(2) p {
        margin: 35% 75% 0 0;
    }
    #mostSaleProduct .owl-carousel .item .body img, .categoreisPage .item .body img {
        margin: 10px 0px;
        width: 100%;
    }
    #mostSaleProduct .owl-carousel .item .footer p, .categoreisPage .item .footer p {
        font-size: 25px;
    }
    #mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
        font-size: 24px;
    }
    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 42% 27px 0;
        font-size: 22px;
    }


}
@media (max-width: 1550px) and (min-width: 1400px) {
    .userPanelSection {
        margin: -23% 1.5% 100px;
    }
    .blogPage, .orderPage {
        margin: -23% 90px 100px;
    }
    section#header > .container {
        margin: 0 4% !important;
        max-width: 1450px;
    }

    .container {
        max-width: 1450px;
    }

    #offers > div{
        width: 1450px !important; 
    } 

    #why-us p {
        font-size: 18px;
        line-height: 2;
    }
    #why-us h2 {
        font-size: 22px;
    }
    #why-us .fa {
        font-size: 45px;
    }
    #how-to-order {
        background: url(../../images/order.png) no-repeat;
        min-height: 345px;
        background-size: cover;
    }
    #how-to-order .col {
        width: 21%;
        height: 277px;
    }
    #how-to-order .four {
        width: 16%;
    }
    #how-to-order span {
        margin: 40% 20%;
    }
    #how-to-order .one span, #how-to-order .two span {
        margin-right: 18%;
    }
    #how-to-order .three span {
        margin-right: 16.5%;
    }
    #how-to-order .four span {
        margin-top: 53%;
        margin-right: 22%;
    }
    #mostSaleProduct h3 ,#offers > div h1 ,#news .head h3 {
        font-size: 23px;
    }
    #dotSlider {
        margin-top: -24%;
    }
    #mainSlider .owl-dots {
        left: 1.5%;
    }
    #index-ad-area .ad:nth-child(1) h2 {
        font-size: 17px;
    }
    #index-ad-area .ad:nth-child(1) p {
        font-size: 15px;
    }
    #index-ad-area .ad:nth-child(3) h2 {
        font-size: 17px;
        margin-right: 51%;
    }
    #mostSaleProduct .owl-next {
        left: 3%;
    }
    #mostSaleProduct .owl-carousel .item .head i, .categoreisPage .item .head i {
        font-size: 15px;
    }
    #mostSaleProduct .owl-carousel .item .head b, .categoreisPage .item .head b {
        font-size: 19px;
        margin: 0px;
    }
    #mostSaleProduct .owl-carousel .item .head span, .categoreisPage .item .head span {
        font-size: 15px;
        padding: 2px 8px;
    }

    #mostSaleProduct .owl-carousel .item .footer p, .categoreisPage .item .footer p {
        font-size: 22px;
    }
    #mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
        font-size: 20px;
    }
    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 40% 27px 0;
        font-size: 20px;
    }
    #save-order h1 {
        font-size: 25px;
    }
    #save-order p {
        font-size: 18px;
    }
    #save-order a {
        font-size: 16px;
    }
    #offers > div img {
        height: 230px;
    }
    #offers > div {
        min-height: 525px;
    }
    #news .owl-carousel .item h3, .blogPage .item h3 {
        font-size: 20px;
    }
    #news .owl-carousel .item p, .blogPage .item p {
        font-size: 14px;
    }
    #news .owl-next {
        left: 48%;
    }
    .text-contact, .div-about-footer-p, .footer-links a {
        font-size: 17px;
        line-height: 2.5;
    }
    footer span {
        font-size: 17px;
        line-height: 2;
    }
    footer .txt {
        font-size: 17px;
    }
    footer h2.title {
        font-size: 22px;
    }
    footer h6 {
        font-size: 17px;
        margin-bottom: 24px;
    }
    footer ul li a {
        font-size: 16px;
    }
    footer .copyright a {
        padding: 7px 13px 2px !important;
        font-size: 24px;
    }
}

@media (max-width: 1365px) {}

@media (max-width: 1024px) {
    #offers > div {
        width: unset !important;
    }

    .form-inline input {
        width: 200px !important;
    }

    section#header .acountSection .fa-user {
        font-size: 22px;
    }

    section#header .acountSection a.basket {
        font-size: 8px;
    }

    #dotSlider {
        margin-top: -41%;
    }

    #how-to-order span {
        margin: 38% 18%;
    }

    #save-order a {
        padding: 17px 12px;
    }
}

@media (max-width: 992px) {
    section#header .acountSection .fa-user {
        font-size: 14px;
        padding: 11px 7px;
    }
    section#header .acountSection a.basket i {
        font-size: 15px;
        margin-left: 2px;
    }
    #mainSlider .owl-carousel .item h1.name_fa {
        font-size: 31px;
        margin-top: -7%;
    }
    #mainSlider .owl-carousel .item h1.name_en {
        font-size: 45px;
    }
    #mainSlider .owl-carousel .item .info {
        padding: 0px 15px;
    }
    #mainSlider .owl-dots {
        left: 2%;
    }
    #how-to-order span {
        margin: 39% 18%;
        font-size: 14px;
    }
    #mostSaleProduct .owl-carousel .item .footer span, .categoreisPage .item .footer span {
        font-size: 14px;
    }
    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 30% 0 0;
    }
    #save-order a {
        font-size: 13px;
    }
    #offers > div .col {
        padding: 8px;
    }
    #offers > div img {
        height: 126px;
    }
    #news .owl-carousel .item img, .blogPage .item img {
        height: 140px;
    }
    #news .owl-prev {
        left: 46%;
    }
}

@media (max-width: 768px) {
    .form-inline button {
        position: absolute;
        left: 12px;
    }

    .text-ssh-two {
        font-size: 1.3rem;
        line-height: 2.55rem;
        margin: 15px 0 28px;
    }

    .text-ssh-three {
        line-height: 2rem;
    }

    .sn a {
        margin: 11px 6px;
    }

    #why-us h1 {
        font-size: 1.6rem;
    }

    #why-us h2 {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .short-why {
        margin-top: 0px;
    }

    .div-box-w .col-md-6 {
        display: inline-flex;
        justify-content: space-between;
    }

    .div-why {
        width: 48%;
    }

    #box-ssh {
        margin-top: -78px;
        margin-bottom: 30px;
    }

    #box-ssh .row {
        display: flex !important;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .div-pr-ssh {
        width: 49%;
        margin-bottom: 14px;
        display: inline-flex;
        flex-direction: row;
        text-align: right;
    }

    #saleRate .owl-carousel.owl-theme.owl-loaded.owl-drag {
        max-height: 360px;
    }

    .div-text-box-ssh {
        margin: 0 20px 0 0;
    }

    .div-logo-header {
        padding: 34px 4px 1.5rem 0 !important;
    }

    .div-text-contact-header {
        padding: 1.5rem 0 1.5rem 12px !important;
    }

    section#header .acountSection {
        position: relative;
        top: -20px;
    }

    section#header .menuSection {
        padding-top: 23px;
    padding-right: 6%;
    }

    #dotSlider {
        margin-top: -56%;
    }

    #mainSlider {
        width: 87%;
        margin-top: -36%;
    }

    #why-us {
        margin: 70px 0;
    }

    .form-inline {
        width: 95%;
        margin: 0 9%;
    }

    .form-inline .form-control {
        width: 90% !important;
        padding-right: 10px;
        margin-right: 11%;
        margin-bottom: 22px;
        margin-top: 18px;
    }

    .form-inline button {
        left: 30px;
        margin-top: -2px;
    }

    #mainSlider .owl-carousel .owl-nav, #mainSlider .owl-dots {
        display: none;
    }

    #mainSlider .owl-carousel .item, #mainSlider .owl-carousel .item > div {
        height: auto;
    }

    #mainSlider .owl-carousel .item h1.name_en {
        font-size: 50px;
    }

    #mainSlider .owl-carousel .item h1.name_fa {
        font-size: 31px;
        position: relative;
        margin-top: 0;
        margin-right: 0;
    }

    #mainSlider .owl-carousel .item .info {
        padding: 15px;
    }

    #mainSlider > .container {
        padding: 0 30px !important;
    }

    #how-to-order .col {
        width: 50%;
        margin-right: 0;
    }

    #how-to-order .one span, #how-to-order .two span {
        margin-right: 12%;
    }

    #how-to-order span {
        margin: 21.5% 11%;
    }

    #how-to-order .three span {
        margin-right: 11.5%;
    }

    #how-to-order {
        background-image: unset;
        height: 490px;
        background-color: #e52a1f;
        margin: 10px;
        border-radius: 10px;
    }

    .mainmenu {
        z-index: 1000;
    }

    section#header .menuSection ul.navbar-nav li {
        padding: 15px 40px;
    }

    .form-inline {
        width: 90%;
        margin: 0 9%;
    }

    .form-inline button {
        left: 55px;
    }

    #index-ad-area .ad {
        max-width: 48%;
        margin: 1%;
        margin-top: 30px;
        flex: auto;
    }

    #offers > div {
        background-image: unset;
        width: auto !important;
        min-height: auto;
        background-color: #212121;
        border-radius: 10px;
        margin: 2%;
    }

    #save-order .container,
    #mostSaleProduct .container,
    #index-ad-area > .container {
        margin: 0;
        max-width: 100%;
    }

    #save-order {
        margin: 3% 2.5%;
        height: 220px;
    }

    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 47% 0 0;
        font-size: 24px;
    }

    #save-order a {
        margin: 0;
        font-size: 12px;
        top: 22px;
    }

    #mostSaleProduct .owl-prev, #mostSaleProduct .owl-next {
        top: -7%;
    }

    #mostSaleProduct .owl-next {
        left: 6%;
    }

    #offers > div .col {
        width: 44%;
        max-width: 44%;
        margin: 2%;
        flex-basis: auto;
        height: 350px;
        margin-bottom: 50px;
    }

    #offers > div img {
        height: 300px;
        width: 100%;
    }

    #news .owl-prev {
        left: 44%;
    }
    .blogPage .item{
        margin: 1%;
        width: 48%;
        max-width: 48%;
    }

    #mainSlider .owl-carousel .item h3 {
        font-size: 17px;
    }
    #mainSlider .owl-carousel .item p {
        font-size: 13px;
    }
}

@media (max-width: 415px) {
    .blogPage .item{
        margin: 1% 0;
        width: 100%;
        max-width: 100%;
    }

    section#header .acountSection {
            top: -12px;
            position: absolute;
            text-align: left;
    }
    section#header .acountSection .userIcon {
        float: right;
        position: absolute;
        left: 25%;
    }
    section#header .acountSection a.basket {
        font-size: 8px;
        margin-left: 4%;
    }

    #how-to-order span {
        margin: 24% 13%;
    }

    #how-to-order .three span {
        margin-right: 12.5%;
    }

    #how-to-order .one span, #how-to-order .two span {
        margin-right: 14%;
    }

    #dotSlider {
        margin-top: -84%;
    }

    #mainSlider {
        width: 96%;
        margin-top: -54%;
    }

    #mainSlider .owl-carousel .owl-nav, #mainSlider .owl-dots {
        display: none;
    }

    #mainSlider .owl-carousel .item, #mainSlider .owl-carousel .item > div {
        height: auto;
    }

    #mainSlider .owl-carousel .item h1.name_en {
        font-size: 50px;
    }

    #mainSlider .owl-carousel .item h1.name_fa {
        font-size: 31px;
        position: relative;
        margin-top: 0;
        margin-right: 0;
    }

    body section#header nav .navbar-toggler {
        margin-right: 10px;
    }

    #how-to-order .col {
        width: 84%;
    }

    #how-to-order {
        height: 900px;
    }

    .mainmenu {
        z-index: 1000;
    }

    .form-inline button {
        left: 40px;
    }

    #index-ad-area .ad {
        width: 100%;
        max-width: 100%;
    }

    #index-ad-area .container .row {
        margin: 0;
    }

    section#header .container {
        padding: 0 15px;
    }

    #mostSaleProduct {
        margin: 50px 0;
    }

    #mostSaleProduct .owl-next {
        left: 10%;
    }

    #save-order {
        height: 340px;
    }

    #save-order a {
        margin: 0;
        font-size: 12px;
        top: 50px;
        right: 17%;
    }

    #offers > div .col {
        max-width: 91%;
        width: 91%;
    }

    #mostSaleProduct hr {
        width: 21.5%;
    }

    #news .owl-prev {
        left: 35%;
    }

    #news {
        background-color: #fdfdfe;
        padding: 40px 15px;
    }

    footer {
        padding: 60px 10px;
    }

    footer img.e {
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    section#header .acountSection .userIcon {
        left: 28%;
    }
    #how-to-order span {
        margin: 27% 14%;
    }

    #how-to-order .one span, #how-to-order .two span {
        margin-right: 15%;
    }

    #how-to-order .three span {
        margin-right: 14.5%;
    }

    #save-order {
        height: 370px;
    }

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {
    section#header .acountSection .userIcon {
        left: 32%;
    }
    #dotSlider {
        margin-top: -110%;
    }

    #how-to-order span {
        margin: 32% 16%;
    }

    #how-to-order .three span {
        margin-right: 15.5%;
    }

    #how-to-order .one span, #how-to-order .two span {
        margin-right: 17%;
    }

    #mostSaleProduct .owl-carousel .item .footer i, .categoreisPage .item .footer i {
        margin: -8px 32% 0 0;
    }
}

@media (max-width: 300px) {

}



@media print {
    section#header,
    footer,
    button.printPage,
    a.payment{
        display: none !important;
    }

    #userFactor {
        position: relative !important;
        top: 150px !important;
        display: block;
    }

    .logoSection{
        display: block !important;
    }
}

